.admin-content{
    .admin-contents{
        margin: 0;
        section.details{
            @include is-material(default);
            @include has-depth();
            margin-bottom: 30px;
        }
    }
}


.dashboard-stats{
    @include is-material(default);
    @include has-depth();
}
body{
    .boxed.white{
        background: none;
    }
}
