.admin-content{
    .admin-contents{
        margin: 0;
        section.details{
            @include is-material(default);
            @include has-depth();
            margin-bottom: 30px;
        }
    }
    .admin-container{
        @include is-material(default);
        @include has-depth();
        table{
            > tr:not(:last-child){
                > td{
                    border-bottom: none;
                }
            }
        }
    }
    .admin-controls{
        background-color: transparent;
    }
}

.dashboard-stats{
    box-sizing: border-box;
    @include is-material(default);
    @include has-depth();
}

body{
    .boxed.white{
        background: none;
    }
}
