
.category-list {
    border-spacing: 0 1em;
    border-collapse: separate;

    thead {
        display: none;
    }

    tbody {
        tr {
            @include is-material(default);
            @include has-depth();
            td {
                &.topics {
                    padding: 3em 0 0 0;
                    text-align: center;
                }
                &.category {
                    .clearfix {
                        height: 15px;
                    }
                }
            }
        }
    }
}

footer{
    &.topic-list-bottom{
        h3{
            font-weight: normal;
            font-style: italic;
        }
    }
}
