.modal-inner-container{
    @include has-shadow();
    @include is-material(default);
}

.modal-header{
    @include is-material(primary);
    .close{
        color: $primary-text;
    }
}

.modal-footer{
    background: $default-color-light;
}

#login-form{
    a#forgot-password-link{
        color: $primary;
    }
}

.modal-backdrop{
    background: #FFF;
    &.modal-backdrop.fade.in{
        opacity: .9;
    }
}
