/* nav-pills top */
.nav-pills{
    display: inline-block;
    @include is-material(default);
    @include has-shadow();
    > li.active{
        > a{
            @include menu-item(true);
        }
    }
    > li{
        > a{
            @include menu-item(false);
            &.active{
                @include menu-item(true);
            }
        }

    }
}

/* user menus left side */
.user-main{
    .nav-stacked{
        @include is-material(default);
        @include has-shadow();
        li{
            > a{
                @include menu-item();
                &.active{
                    @include menu-item(true);
                    font-weight: normal;
                }
            }
        }
    }
}

/* category nav */
ol.category-breadcrumb{
    padding: 1em;
    @include is-material(default);
    @include has-shadow(1);
    li{
        border-bottom: 2px solid rgba(0,0,0,0);
    }
}
.list-controls {
    .category-breadcrumb {
        li.bullet {
            > .badge-category {
                background: none !important;
                color: $primary !important;
            }
        }
    }
}
