/**
 * material design for dropdowns, popups etc
 **/

div.menu-links-header .fa,
div.menu-links-header{
    a{
        color: $default-text;
    }
}
div.menu-links-header{
    a.user-activity-link{
        &:hover{
            background: none;
            color: $secondary-color;
            .fa{
                background: none;
                color: $secondary-color;
            }
        }
    }
}

// topmenus
.user-menu {
    .notifications{
        li{
            background: $secondary-color;
            span{
                font-style: italic;
            }
            a{
                color: $secondary-text;
            }
            &:hover{
                background: none;
            }
            &.read{
                background: none;
                a{
                    color: $default-text;
                    &:hover{
                        color: $secondary-color;
                        background: none;
                    }
                }
            }
        }
    }
}

.selected-posts{
    @include has-shadow(1);
    @include is-material(default);
    padding: 1em;
}
.select2-drop-active{
    @include has-shadow(1);
    padding: .5em;
}

 // category menu
 .list-controls{
     .category-dropdown-menu{
         @include is-material(default);
         @include has-shadow(2);
         margin-top: -30px;
     }
 }

// topic admin menu
 .dropdown-menu{
     @include has-shadow(2);
     @include is-material(default);
     li{
         >a{
             color: $default-text;
             &:hover{
                 background: $primary-color;
                 *{
                     color: $primary-text;
                 }
             }
         }
     }
 }
.nav.post-controls{
     .post-admin-menu{
         @include is-material(default);
         @include has-shadow(1);
     }
 }

.popup-menu {
    padding: 1em 1em .5em 1em;
    border: none;
    @include has-shadow(2);
    h3 {
        padding-bottom: 0.5em;
        border-bottom: 2px solid $primary;
    }
    .btn {
        @include no-shadow();
        background: transparent;
        white-space: nowrap;
        padding: 0.5em 0;
    }
}

.autocomplete{
    @include has-shadow();
    ul{
        li{
            a{
                &.selected,
                &:hover{
                    background-color: $primary-color;
                    color: $primary-text;
                }
            }
        }
    }
}
