#reply-control{
    @include is-material();
    @include has-shadow(2);

    &.edit-title{
        .contents{
            input#reply-title{
                padding: .5em 0;
            }
            .wmd-controls{
                margin-top: .5em;
                .d-editor-container{
                    .d-editor-button-bar{
                        border: 1px solid get-border-color(default);
                    }
                    .d-editor-input{
                        border: 1px solid get-border-color(default);
                        border-top: 30px solid transparent;
                        &:focus{
                            border-color: $primary-color;
                        }
                    }
                }

            }
        }
    }
}
.reply-to{
    font-weight: 700;
    color: $default-text;
}
.d-editor{
    border: none;
    .d-editor-textarea-wrapper{
        border: 1px solid get-border-color(default);
    }
}
