.topic-list {
    @include table-material-style();
    .topic-rating{
        float: right;
    }
    .discourse-tags{
        display: inline-block;
    }
}
.discourse-tag.simple {
    &, &:hover, &:visited {
        background: $disabled-color;
        color: $disabled-text;
        padding: 0 .5em;
        border-radius: 1em;
    }
}

.badge-notification{
    &.new-posts{
        background: $primary-color;
    }
}

.list-controls{
    a[href="/bookmarks"], a[href="/posted"], a[href="/latest"], a[href="/categories"],
    a[href="/new"], a[href="/unread"], a[href="/read"], a[href="/top"]{
        &:before{
            display: inline-block;
            font-family: FontAwesome;
            font-style: normal;
            font-weight: normal;
            line-height: 1;
            -moz-osx-font-smoothing: grayscale;
            margin-right: .5em;
        }
    }
    a[href="/bookmarks"]::before {
        content: "\f02e";
    }
    a[href="/posted"]::before {
        content: "\f2bd";
    }
    a[href="/latest"]::before {
        content: "\f1da";
    }
    a[href="/categories"]::before {
        content: "\f02c";
    }
    a[href="/new"]::before {
        content: "\f06a";
    }
    a[href="/unread"]::before {
        content: "\f06e";
    }
    a[href="/read"]::before {
        content: "\f070";
    }
    a[href="/top"]::before {
        content: "\f005";
    }
}
